---
const { post } = Astro.props;

const [category, slugWithExt] = post.id.split('/');
const slug = slugWithExt?.replace('.md', '') || 'post';

const formatDate = (date) => {
  return new Date(date).toLocaleDateString('es-ES', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  });
};
---

<div class="w-full mx-auto bg-gradient-to-br relative pb-5 from-white/[0.001] to-white/[0.01] border-2 border-white rounded-lg overflow-hidden">
  <div class="p-6 tracking-wider">
    <a href={`/blog/${category}/${slug}`} class="block group">
      <h2 class="text-xl font-medium text-white mb-2">
        <span class="text-white/70 mr-2">❯</span>
        {post.data.title} <span class="text-white/50 text-sm">({category})</span>
      </h2>
      <p class="text-white font-medium tracking-widest text-sm mb-4">
        [{formatDate(post.data.pubDate)}]
      </p>
      <p class="text-white/80 text-sm font-thin mb-4 line-clamp-2">
        {post.data.description}
      </p>
      <p class="text-white absolute bottom-4 font-medium inline-flex items-center group-hover:underline-offset-4 underline-offset-8 underline transition-all ease-in-out">
        Leer más
        <svg class="w-4 h-4 ml-2 transform group-hover:-translate-x-1 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width={2} d="M9 5l7 7-7 7"></path>
        </svg>
      </p>
    </a>
  </div>
</div>
